<div>
    <!-- ? Preloader Start -->

    <!-- Preloader Start -->
    <app-header></app-header>
    <main>
        <!--? slider Area Start-->
        <div class="slider-area ">
            <div class="slider-active">
                <div class="single-slider hero-overly2  slider-height2 d-flex align-items-center slider-bg2">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-8 col-md-8">
                                <div class="hero__caption hero__caption2">
                                    <h1 data-animation="fadeInUp" data-delay=".4s">Check balance</h1>
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
                                            <li class="breadcrumb-item"><a routerLink="/checkbalance">Checkbalance</a>
                                            </li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->
        <!-- Hero Area End-->
        <!--?  Contact Area start  -->

        <!-- Contact Area End -->
    </main>

    <div class="" style="margin-bottom: 9rem;">


        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Gift Card helper</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img class="pinimg" src="./assets/img/pinfind.jpg" alt="findPin">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>

        <div class="container" *ngIf="!selectedgiftcard">
            <h2 class="text-center mt-4">Select any of the gift card options that you want to check balance for</h2>
            <div class="row">
                <div class="col-lg-3 col-md-3 offset-md-1 col-sm-12 maincard rounded offset-lg-1 ">
                    <!-- <div class="selectcard d-flex align-items-center">
                        <div  class="text-white " style="cursor: pointer;">
                            
                        </div>
                    </div> -->

                    <img (click)="clickedOn('homedepot')" class="imggg" src="../../assets/img/homedepot.png"
                        alt="homedepot">

                </div>
                <div class="col-lg-3 col-md-3 offset-md-1 col-sm-12 maincard rounded offset-lg-1 ">
                    <!-- <div class="selectcard d-flex align-items-center">
                        <div  class="text-white " style="  cursor: pointer;">
                            
                        </div>
                    </div> -->
                    <img (click)="clickedOn('walmart')" class="imggg" src="../../assets/img/Walmart-Gift-Card.png"
                        alt="Walmart-Gift-Card">
                </div>
                <div class="col-lg-3 col-md-3 offset-md-1 col-sm-12 maincard  rounded offset-lg-1 ">
                    <!-- <div class="selectcard d-flex align-items-center">
                        <div  class="text-white " style=" cursor: pointer;">
                            
                        </div>
                    </div> -->
                    <img (click)="clickedOn('target')" class="imggg" src="../../assets/img/target-gift-card.png"
                        alt="target-gift-card">
                </div>
                <!-- <div class="col-3  rounded offset-1 ">
                        <div class="selectcard d-flex align-items-center">
    
                            <div (click)="clickedOn('target')" class="text-white maincard" style="background: cyan;  cursor: pointer; background-image: url(../../assets/img/Amazon_cut.jpg);
                                background-position: center;
        background-repeat: no-repeat;
        background-size: cover;">
                                <div style="">
                                    <div>
                                        <h2 class="text-white">Target</h2>
                                        <p class="text-white">Check your target gift card balance</p>
                                    </div>
                                </div>
    
                            </div>
                        </div>
    
    
    
                    </div> -->
            </div>
        </div>


        <div *ngIf="selectedgiftcard">
            <div>


                <h2 class="text-center mt-4">Enter your {{selectedgiftcard}} gift card details to check balance</h2>
                <form [formGroup]="myForm">
                    <div class="mt-4 mb-4">
                        <label for="cardnumber" class="d-block text-muted">Card Number</label>
                        <input #cardnumberval class="d-block inppnumber" (input)="cardInputCapture($event)"
                            id="cardnumber" maxlength="23" minlength="23" type="text"
                            placeholder="XXXXXXXXXXXXXXXXXXXXXXX" formControlName="cardnumber">
                        <div *ngIf="myForm.controls.cardnumber.valid==false&&myForm.controls.cardnumber.touched==true"
                            class="d-flex justify-content-center" style="    align-items: center;
                    margin-top: 1rem;">
                            <p class=" text-center w-50 p-1 rounded" style="background: #ff6683;">
                                <small class="text-white">Please enter valid gift card number</small>
                            </p>
                        </div>

                    </div>

                    <div class="mb-4">
                        <label for="cardpin" class="d-block text-muted">
                            <div class="d-flex justify-content-between inppnumber">
                                <span>Pin</span>
                                <span data-toggle="modal" data-target="#exampleModal"><small style="cursor: pointer;"
                                        onclick="clickedOpenModal()" class="text-info">Where Do I find
                                        this?</small></span>
                            </div>
                        </label>
                        <input class="d-block inppnumber" #cardval (input)="cardPinCapture($event)" id="cardpin"
                            type="number" maxlength="4" placeholder="XXXX" formControlName="pinnumber">

                        <div class="d-flex justify-content-center" style="    align-items: center;
                    margin-top: 1rem;"
                            *ngIf="(myForm.controls.pinnumber.valid==false&&myForm.controls.pinnumber.touched==true)||(pinvalid==false&&myForm.controls.pinnumber.touched==true)">
                            <p class=" text-center w-50 p-1 rounded" style="background: #ff6683;">
                                <small class="text-white">Please enter valid length pin number</small>
                            </p>
                        </div>
                    </div>

                    <div>
                        <button class="btn mb-4" (click)="clickedcheck()">check balance</button>
                    </div>
                </form>
            </div>


        </div>


        <div *ngIf="selectedgiftcard">
            <h2>You may like to see trending products from {{selectedgiftcard}}:</h2>
            <app-itemrow [productss]="this.productss"></app-itemrow>
        </div>
    </div>


    <footer>
        <div class="footer-wrapper">
            <!-- Footer Start-->
            <div class="footer-area footer-padding">
                <div class="container ">
                    <div class="row justify-content-between">
                        <div class="col-xl-4 col-lg-3 col-md-8 col-sm-8">
                            <div class="single-footer-caption mb-50">
                                <div class="single-footer-caption mb-30">
                                    <!-- logo -->
                                    <div class="footer-logo mb-35">
                                        <a href="index.html"><img src="assets/img/logo/logo2_footer.png" alt=""></a>
                                    </div>
                                    <div class="footer-tittle">
                                        <div class="footer-pera">
                                            <p>Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis
                                                viverra ornare, eros dolor interdum nulla.</p>
                                        </div>
                                    </div>
                                    <!-- social -->
                                    <div class="footer-social">
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Quick links</h4>
                                    <ul>
                                        <li><a href="#">Image Licensin</a></li>
                                        <li><a href="#">Style Guide</a></li>
                                        <li><a href="#">Privacy Policy</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Shop Category</h4>
                                    <ul>
                                        <li><a href="#">Image Licensin</a></li>
                                        <li><a href="#">Style Guide</a></li>
                                        <li><a href="#">Privacy Policy</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Pertners</h4>
                                    <ul>
                                        <li><a href="#">Image Licensin</a></li>
                                        <li><a href="#">Style Guide</a></li>
                                        <li><a href="#">Privacy Policy</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer-bottom area -->
            <div class="footer-bottom-area">
                <div class="container">
                    <div class="footer-border">
                        <div class="row d-flex align-items-center">
                            <div class="col-xl-12 ">
                                <div class="footer-copy-right text-center">
                                    <p>
                                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                        Copyright &copy;
                                        <script>document.write(new Date().getFullYear());</script> All rights reserved |
                                        This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a
                                            href="https://colorlib.com" target="_blank">Colorlib</a>
                                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End-->
        </div>
    </footer>
    <!-- Scroll Up -->
    <div id="back-top">
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>


    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">You might find your gift card pin mostly here</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img class="pinimg" src="./assets/img/pinfind.jpg" alt="findPin">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>

    <div class="modal show" id="busymodal" tabindex="-1" role="dialog" aria-labelledby="busymodal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="busymodal">
                        Oops!, server is facing huge traffic, please check after some time
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img class="pinimg" src="./assets/img/pinfind.jpg" alt="findPin">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>

    <app-modalform></app-modalform>


</div>