<div>
  <app-header></app-header>

  <main>
    <!--? slider Area Start-->
    <div class="slider-area ">
      <div class="slider-active">
        <div class="single-slider hero-overly2  slider-height2 d-flex align-items-center slider-bg2">
          <div class="container">
            <div class="row">
              <div class="col-xl-6 col-lg-8 col-md-8">
                <div class="hero__caption hero__caption2">
                  <h1 data-animation="fadeInUp" data-delay=".4s">Product details</h1>
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                      <li class="breadcrumb-item"><a href="#">Product details</a></li>
                    </ol>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- slider Area End-->
    <!--? Single Product Area Start-->
    <div *ngIf="selectedProd" class="product_image_area section-padding40">
      <div class="container">
        <div class="row s_product_inner">
          <div class="col-lg-5">
            <div class="product_slider_img">
              <div id="vertical">
                <div data-thumb="assets/img/gallery/product-details1.png">
                  <img [src]="selectedProd.image" class="w-100">
                </div>
                <!-- <div data-thumb="assets/img/gallery/product-details2.png">
                  <img src="assets/img/gallery/product-details2.png" class="w-100">
                </div>
                <div data-thumb="assets/img/gallery/product-details3.png">
                  <img src="assets/img/gallery/product-details3.png"  class="w-100">
                </div>
                <div data-thumb="assets/img/gallery/product-details4.png">
                  <img src="assets/img/gallery/product-details4.png"  class="w-100">
                </div> -->
              </div>
            </div>
          </div>
          <div class="col-lg-5 offset-lg-1">
            <div class="s_product_text">
              <h3>{{selectedProd.title}}</h3>
              <h2>${{selectedProd.price}}</h2>
              <ul class="list">
                <li>
                  <a class="active" href="#">
                    <span>Category</span> : {{selectedProd.category}}</a>
                </li>
                <li>
                  <a href="#"> <span>Availibility</span> : {{selectedProd.availability}}</a>
                </li>
              </ul>
              <p>
                {{selectedProd.description}}
              </p>
              <div class="card_area">

                <div *ngIf="showmsg==false || clickedaddTocart==false" class="add_to_cart" (click)="addtocart()">
                  <a href="javascript:void(0)" class="btn">add to cart</a>

                </div>

                <div *ngIf="showmsg==true||clickedaddTocart==true">
                  <div class="row justify-content-center rounded" style="background-color: #1fd749c4!important">
                    <p class="text-white" style="border: none !important; padding: 0px !important;">Added to your cart
                      succesfully</p>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Single Product Area End-->
    <!--? Product Description Area Start-->

    <div *ngIf="!selectedProd">
      <h3 style="text-align: center; padding: 6rem;">Oops! You should select a product from <a routerLink="/home"
          class="text-info">home</a> page to view about that
        product here.</h3>
    </div>

    <!-- Product Description Area End-->
    <!--? Services Area Start -->
    <div class="categories-area section-padding40 gray-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
              <div class="cat-icon">
                <img src="assets/img/icon/services1.svg" alt="">
              </div>
              <div class="cat-cap">
                <h5>Fast & Free Delivery</h5>
                <p>Free delivery on all orders</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
              <div class="cat-icon">
                <img src="assets/img/icon/services2.svg" alt="">
              </div>
              <div class="cat-cap">
                <h5>Secure Payment</h5>
                <p>Free delivery on all orders</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
              <div class="cat-icon">
                <img src="assets/img/icon/services3.svg" alt="">
              </div>
              <div class="cat-cap">
                <h5>Money Back Guarantee</h5>
                <p>Free delivery on all orders</p>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
              <div class="cat-icon">
                <img src="assets/img/icon/services4.svg" alt="">
              </div>
              <div class="cat-cap">
                <h5>Online Support</h5>
                <p>Free delivery on all orders</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--? Services Area End -->
  </main>


  <footer>
    <div class="footer-wrapper">
      <!-- Footer Start-->
      <div class="footer-area footer-padding">
        <div class="container ">
          <div class="row justify-content-between">
            <div class="col-xl-4 col-lg-3 col-md-8 col-sm-8">
              <div class="single-footer-caption mb-50">
                <div class="single-footer-caption mb-30">
                  <!-- logo -->
                  <div class="footer-logo mb-35">
                    <a href="index.html"><img src="assets/img/logo/logo2_footer.png" alt=""></a>
                  </div>
                  <div class="footer-tittle">
                    <div class="footer-pera">
                      <p>When you visit our store, make yourself at home in our many room settings in the store. Squeeze
                        the upholsteries, feel the oriental rugs, try the sofa beds and open the cabinets to feel the
                        quality. On the price tag, you’ll find all you need to know about a product, including where in
                        the store you can pick it up.</p>
                    </div>
                  </div>
                  <!-- social -->
                  <div class="footer-social">
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
              <div class="single-footer-caption mb-50">
                <div class="footer-tittle">
                  <h4>Quick links</h4>
                  <ul>
                    <li><a href="#">Image Licensin</a></li>
                    <li><a href="#">Style Guide</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
              <div class="single-footer-caption mb-50">
                <div class="footer-tittle">
                  <h4>Shop Category</h4>
                  <ul>
                    <li><a href="#">Image Licensin</a></li>
                    <li><a href="#">Style Guide</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
              <div class="single-footer-caption mb-50">
                <div class="footer-tittle">
                  <h4>Pertners</h4>
                  <ul>
                    <li><a href="#">Image Licensin</a></li>
                    <li><a href="#">Style Guide</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- footer-bottom area -->
      <div class="footer-bottom-area">
        <div class="container">
          <div class="footer-border">
            <div class="row d-flex align-items-center">
              <div class="col-xl-12 ">
                <div class="footer-copy-right text-center">
                  <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is
                    made
                    with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com"
                      target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer End-->
    </div>
  </footer>
  <!-- Scroll Up -->
  <a id="back-top">
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
  </a>
</div>