<div class="row mainrow">
    <div class="col-12 row">
        <div class="col-6">

        </div>
        <div class="col-6 d-flex justify-content-around">
            <span><small class="link-itemm"><a href="#">Store Finder</a></small></span>
            <span><small class="link-itemm"><a href="#">Truck and Tour rental</a></small></span>
            <span><small class="link-itemm"><a href="#">For the Pro</a></small></span>
            <span><small class="link-itemm"><a href="#">Gift Cards</a></small></span>
            <span><small class="link-itemm"><a href="#">Credit Servicesr</a></small></span>
            <span><small class="link-itemm"><a href="#">Favorites</a></small></span>
            <span><small class="link-itemm"><a href="#">Track Order</a></small></span>
            <span><small class="link-itemm"><a href="#">Help</a></small></span>
        </div>
    </div>
</div>