<div class="container-fluid px-2">
    <div style="border: 1px solid grey;" class="row">

        <div class="col-12 d-flex header-div">
            <div class="logodiv d-flex align-items-center">
                <a href="#">
                    <img class="logomain" src="../../assets/logoone.jpg" alt="LOGO">
                </a>
            </div>
            <div class="locationdiv">
                <div class="locationpin">
                    <a href="#">
                        <img class="locationpng" src="../../assets/location.png" alt="loc">
                    </a>
                </div>

                <div class="locationdetailsdiv">
                    <p class="locationdetailsone">You're Shopping</p>
                    <p class="locationdetailstwo">Guam-Tamuning</p>
                    <p class="locationdetailsthree"> <span class="greendot"></span>
                        <span class="text-boldd">OPEN </span> until 8 pm
                    </p>
                </div>
            </div>

            <div class="inputdiv">
                <input id="inputt" type="text" placeholder="What can we help you find Today?">
                <label for="inputt"> <span> <i class="fa fa-search"></i> </span> </label>
            </div>

            <div class="myaccount">
                <div>My Account</div>
                <div class="myaccountlogo">
                    <i class="fa fa-user"></i>
                </div>
            </div>

            <div class="carddiv">
                <div class="carttext">
                    <div class="cartbold">Cart |</div>
                    <div>0 items</div>
                </div>

                <div class="cartlogo">
                    <i class="fa fa-cart-plus"></i>
                </div>
            </div>
        </div>
    </div>
</div>